.vs/
Techievibe.Hub.Common/bin/
Techievibe.Hub.Common/obj/
Techievibe.Hub.Services/bin/
Techievibe.Hub.Services/obj/
Techievibe.Hub.API/Properties/PublishProfiles/FolderProfile.pubxml
Techievibe.Hub.API/Properties/PublishProfiles/FolderProfile.pubxml.user
Techievibe.Hub.API/Properties/PublishProfiles/FolderProfile1.pubxml
Techievibe.Hub.API/Properties/PublishProfiles/FolderProfile1.pubxml.user
Techievibe.Hub.API/Properties/PublishProfiles/FTPProfile.pubxml.user
/Techievibe.Hub.UserManagement.API/bin
/Techievibe.Hub.UserManagement.API/obj
/Techievibe.Hub.AuthManagement.API/bin
/Techievibe.Hub.AuthManagement.API/obj